.update_profile_inner {
  max-width: 492px;
}
.update_profile_inner .form_row button {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0;
  border: 1px solid rgba(25, 25, 25, 0.9);
  border-radius: 10px;
  height: 52px;
}
.update_profile_inner .form_row.change_password_field button {
  height: 55px;
  max-width: 181px;
  width: 100%;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: rgba(25, 25, 25, 0.9);
  background-color: #fff;
  text-transform: inherit;
}
.update_profile_form_cta_row {
  max-width: 1010px;
  width: 100%;
  margin-top: 145px;
  margin-bottom: 4px;
}
.update_profile_form_cta_row button {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  background: #2FB41A;
  text-transform: inherit;
  padding: 16px;
  margin: 0;
}
.update_profile_form_cta_row button[disabled] {
  color: #949494;
  border: 1px solid #949494;
  background-color: transparent;
  pointer-events: none;
}
.update_profile_form_cta_row button + button {
  margin-left: 20px;
}
.update_profile_form_cta_row button.update_profile_cta {
  max-width: 295px;
  width: 100%;
  float: right;
}





.form_row {
  margin-bottom: 20px;
}
.form_row .MuiFormControl-root {
  height: 55px;
}
.input_wrapper {
  position: relative;
}
.form_row .MuiInputLabel-outlined {
  transform: translate(24px, 20px) scale(1);
}
.form_row .MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(23px, -6px) scale(0.75);
}
.form_row .MuiFormControl-root input {
  height: 55px;
  padding: 16px 24px;
}
.form_row fieldset {
  border: 1px solid rgba(25, 25, 25, 0.9);
  border-radius: 10px;
  padding: 0 18px;
}
.form_row .MuiListItemText-root {
  margin: 0;
}
.form_row.form_multi_field {
  display: flex;
  margin-left: -6.5px;
  margin-right: -6.5px;
}
.form_row.form_multi_field > * {
  padding: 0 6.5px;
}
.image_upload {
  text-align: center;
}
.profile_image_tag {
  margin: 30px auto;
}
.profile_image_tag img {
  width: 292px;
  height: 292px;
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  object-fit: cover;
  display: block;
}
.profile_image_button {
  text-align: center;
  width: 100%;
  margin: 20px auto;
}

.image_upload h4 {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  margin-top: 20px;
  }