.forgot-password-form {
  text-align: center;
  max-height: 164px;
  height: 100%;
}
.forgot-password-form-control {
  text-align: center;
  max-height: 164px;
  height: 100%;
}
.forrgot-form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20;
}
