.slider {
  height: 237px;
}
.card-slider-item {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 455px;
  align-items: center;
  margin: 20px;
}
.service-quality {
  margin-top: 10px;
}
.card-buttons {
  display: flex;
  margin-right: 20px;
}
.card-actions-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.service {
  display: flex;
  color: white;
}
.phoneIconCard {
  background-color: #1ab900;
  padding: 10px;
  border-radius: 34px;
  margin-right: 10px;
  height: 48px;
  width: 48px;
  text-align: center;
}
.calendarIconCard {
  background-color: #0038ff;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  height: 48px;
  width: 48px;
  text-align: center;
}
polygon {
  fill: #fff;
}
.slider a.previousButton,
.slider a.nextButton {
  display: none;
}

.card_ratings {
  justify-content: space-between;
  background: rgba(101, 101, 101, 0.7);
  box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.card-actions {
  display: flex;
  flex-direction: column;
}
.price {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 10;
}
.live-now {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-shadow: 2px 2px #1ab900;
}
.card_ratings.MuiCardActions-root {
  padding: 10px 20px 10px 20px;
}
