* {
    box-sizing: border-box;
}
.page_content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 155px);
    overflow-y: auto;
    margin-top: 155px;
}
.small_screen_full_height {
    flex: 1 0 auto;
}
.content_wrapper {
    display: flex;
    flex: 1 0 auto;
}
.sidebar_wrapper .MuiDrawer-paper {
    position: inherit;
    width: 100%;
    left: inherit;
    right: inherit;
    z-index: inherit;
}
main.makeStyles-content-30.makeStyles-contentShift-31 {
    width: calc(100% - 270px);
}