.calendarIcon {
  background-color: #0038ff;
  padding: 5px;
  border-radius: 10px;
  margin-right: 1px;
  height: 40px;
  width: 40px;
  text-align: center;
}
.phoneIcon {
  background-color: #1ab900;
  padding: 5px;
  border-radius: 34px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  text-align: center;
}
.provider-profile-review {
  background: #edf6fe;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #4f4f4f;
  position: relative;
}

.provider-profile-review-box:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid #edf6fe;
  border-right: 20px solid transparent;
  border-top: 20px solid #edf6fe;
  border-bottom: 20px solid transparent;
  right: -29px;
  top: 0px;
}
.time {
  text-align: right;
}
.service {
  display: flex;
  align-items: center;
}
.service-quality {
  margin-top: 10px;
}
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.profile-languages {
  margin-top: 10;
  display: flex;
  flex-direction: column;
}

.body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.time-booking {
  background: #363636;
  border-radius: 15px;
  max-width: 227px;
  width: 100%;
  height: 100%;
  max-height: 246px;
}
.title-booking {
  padding: 9px 7px 14px 15px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
.select-form-date {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
}
.select-form-date .from {
  max-width: 40px;
  width: 100%;
  padding-left: 15px;
}

.select-form-date .to {
  padding: 5px;
}
.select-form-date .fromTime {
  max-width: 56px;
  width: 100%;
  height: 33px;
  padding-left: 13px;
}
.select-form-date .toTime {
  max-width: 58px;
  width: 100%;
  height: 33px;
  padding-right: 7px;
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 5px 7px 10px 15px;
}
.date-picker {
  width: 100%;
  max-width: 147px;
}
.date-picker .MuiInputBase-root {
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;
}
.total-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 7px 7px 7px 15px;
}
.confirm-button {
  padding: 0px 7px 0px 15px;
}
.confirm-button .makeStyles-button-36 {
  background-color: #0a3ceb;
  color: #fff;
  border-radius: 7px;
  width: 100%;
  max-width: 160px;
  height: 42px;
}
.verify-email{
  border: 1px solid #ff7a00;
  box-sizing: border-box;
  border-radius: 10px;
  color: #ff7a00;
  background-color: #fff;
}
