/* Create a service */
.create_service {
  max-width: 1160px;
  width: 100%;
  margin-top: 70px;
}
.create_service_form_location {
  display: flex;
  flex-wrap: wrap;
}
.create_service_form h6 {
  font-size: 16px;
  line-height: 24px;
  color: #303030;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
}
.create_service_form_location_left {
  max-width: 660px;
  width: 100%;
}
.create_service_form_location_right {
  max-width: 500px;
  width: 100%;
  padding-left: 24px;
}
.create_service .form_row ~ .form_row {
  margin-top: 20px;
}
.create_service .form_row p {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #949494;
}
.create_service_form_description .form_row .MuiFormControl-root {
  height: 258px;
  overflow: auto;
}
.create_service_form_description .form_row  .textarea {
  padding-right: 20px;
}
.create_service_form_price_setting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.create_service_form_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 431px;
  width: 100%;
  margin-top: 20px;
}
.create_service_form_price_setting h6 {
  font-weight: 400;
}
.create_service_form_price_setting .create_service_form_price .MuiFormControl-root {
  max-width: 91px;
  width: 100%;
}
.create_service_form_price_setting .create_service_form_price input {
  font-family: 'Rubik';
  letter-spacing: -0.015em;
  text-align: center;
  border: 1px solid #303030;
  border-radius: 4px;
}

.create_service_form_price_setting .create_service_form_price input::-moz-placeholder {
  color: #303030;
  opacity: 1;
}

.create_service_form_price_setting .create_service_form_price input:-moz-placeholder {
  color: #303030;
  opacity: 1;
}

.create_service_form_price_setting .create_service_form_price input::-webkit-input-placeholder {
  color: #303030;
  opacity: 1;
}

.create_service_form_price_setting .create_service_form_price input:-ms-input-placeholder {
  color: #303030;
  opacity: 1;
}

.create_service_form_price_setting p {
  font-family: 'Rubik';
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #949494;
  max-width: 645px;
  width: 100%;
}
/* Create a service */

.create_service_form_img {
  display: flex;
  align-items: center;
}
.create_service_form_img_item {
  max-width: 282px;
  width: 100%;
  height: 197px;
  overflow: hidden;
  position: relative;
  background: #333333;
  border-radius: 5px;
  /* padding-bottom: 40px; */
  transition: all 0.3s ease-in-out 0s;
}
.create_service_form_img_item:hover {
  transform: scale(1.04);
  transition: all 0.3s ease-in-out 0s;
}
.create_service_form_img_item ~ .create_service_form_img_item {
  margin-left: 30px;
}
.create_service_form_img_item img {
  height: 100%;
  width: 100%;
}
.create_service_form_img_add_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#fff;
  padding: 10px 25px;
  cursor: pointer;
}
.create_service_form_img_delete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff0000;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 25px;
  opacity: 0;
  pointer-events: none;
}
.create_service_form_img_delete label {
  pointer-events: none;
}
.create_service_form_img_item:hover .create_service_form_img_delete {
  opacity: 1;
  pointer-events: inherit;
}
.create_service_form_cta_row {
  margin-top: 50px;
  margin-bottom: 20px;
}
.create_service_form_cta_row button {
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: normal;
  background: #4AC836;
  text-transform: inherit;
  margin: 0;
}
.create_service_form_cta_row .create_service_form_delete_cta {
  background-color: transparent;
  border: 1px solid #FF0000;
  box-sizing: border-box;
  border-radius: 10px;
  color: #FF0000;
  transition: all 0.3s ease-in-out 0s;
}
.create_service_form_cta_row .create_service_form_delete_cta:hover {
  background-color: #FF0000;
  color: #fff;
  transition: all 0.3s ease-in-out 0s;
}
.create_service_form_cta_row button + button {
  margin-left: 20px;
}