body {
  font-family: 'Rubik', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flag-select__option__label {
  color: darkslategray;
}
.flag-select{
  min-width: 128px;
  min-height: 41px;
}

.container {
  max-width: 1750px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}