.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flag-select__option__label {
  color: darkslategray;
}
.flag-select{
  min-width: 128px;
  min-height: 41px;
}
