.promotion_text {
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #303030;
  background: rgba(239, 243, 44, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px 0 33px;
  min-height: 60px;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 20px);
  z-index: 1;
  border-radius: 0 0 5px 5px;
}
.promotion_links {
  display: flex;
  align-items: center;
}
.promotion_links a {
  font-weight: bold;
  font-size: 16px;
  color: #303030;
  letter-spacing: 0.03em;
  line-height: normal;
}
.promotion_links a:hover {
  opacity: 0.8;
  text-decoration: none;
}
.promotion_links .close_icon {
  margin-left: 14px;
}
.promotion_links .close_icon span {
  font-size: 44px;
}
.sidebar_wrapper .MuiDrawer-docked {
  height: 100%;
}
.sidebar_wrapper .MuiDrawer-paper, .sidebar_wrapper .makeStyles-drawerContainer-29 {
  overflow: inherit;
}
.sidebar_wrapper {
  max-width: 290px;
  width: 100%;
  border-right: 1px solid #BDBDBD;
  padding: 30px 45px 30px 0;
}
.sidebar_wrapper .makeStyles-drawer-30 {
  width: 100%;
}
.sidebar_row + .sidebar_row {
  margin-top: 24px;
}
.sidebar_row.select_price_range {
  margin-top: 50px;
}
.sidebar_wrapper .MuiDrawer-paperAnchorDockedLeft {
  border: none;
}
.select_down_arrow .MuiSelect-select.MuiSelect-select {
  padding: 14px 45px 14px 22px;
  height: 52px;
  width: 100%;
  border: none;
  color: #303030;
}
.select_down_arrow .MuiSelect-select.MuiSelect-select:focus {
  background-color: transparent;
}
.sidebar_inner {
  padding-top: 5px;
}
.sidebar_inner .MuiFormControl-root {
  width: 100%;
}
.sidebar_inner .MuiOutlinedInput-notchedOutline {
  border: 1px solid #303030;
  border-radius: 10px;
}
.select_price_range p {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  font-family: Rubik;
  letter-spacing: 0.02em;
  color: #303030;
}
.select_price_range_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}
.select_price_range_inner .MuiFormControl-root {
  max-width: 100px;
  width: 100%;
}
.select_price_range_inner input {
  font-weight: 500;
  text-align: center;
}
.sidebar_inner input::-moz-placeholder {
  color: #303030;
  opacity: 1;
}
.sidebar_inner input:-moz-placeholder {
  color: #303030;
  opacity: 1;
}
.sidebar_inner input::-webkit-input-placeholder {
  color: #303030;
  opacity: 1;
}
.sidebar_inner input:-ms-input-placeholder {
  color: #303030;
  opacity: 1;
}
.sidebar_inner p {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #303030;
}
.sidebar_review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.sidebar_review .MuiRating-sizeSmall {
  font-size: 24px;
}
.sidebar_input_radio label span {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #303030;
}
.sidebar_input_radio label span.Mui-checked + span {
  text-decoration: underline;
}
.sidebar_input_radio label span svg {
  width: 16px;
  height: 14px;
}
.reset-password-form {
  height: 100%;
  max-height: 240px;
}
.reset-password-form-control {
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 458px;
  max-height: 240px;
}
.reset-password-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.reset-password-button {
  height: 48px;
  border-radius: 10px;
  max-width: 122px;
  width: 100%;
}
.sidebar-input.MuiFilledInput-input {
  padding: 10px 12px 10px;
}
.load-more {
  background: rgba(130, 130, 130, 0.5);
  border-radius: 10px;
  text-align: center;
  background-image: url('../../images/select_arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 62px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.load-more:hover {
  opacity: 0.8;
}
