.previous_service_wrapper {
  max-height: 457px;
  overflow: auto;
  overflow-x: hidden;
  /* padding-left: 30px; */
  margin: 15px 0;
  direction: rtl;
}
.previous_service {
  margin-top: 10px;
  direction: ltr;
}
.previous_service .previous_service_title {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
}
.previous_service_title p {
  font-family: 'Rubik';
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #303030;
  min-width: 50px;
  text-align: center;
  margin: 0 15px;
}
.previous_service_title .Mui-expanded p {
  font-size: 14px;
  font-weight: 500;
}
.previous_service_content {
  display: flex;
  align-items: flex-start; 
}
.previous_service_content p {
  font-family: 'Rubik';
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #303030;
}
.previous_service_info_title {
  max-width: 250px;
  width: 100%;
}
.previous_service_info_value p {
  font-weight: 500;
}